<body class="bg-light">
  <div class="container">
    <img class="ax-center my-10 w-24" src="https://user-images.githubusercontent.com/82532/231018631-2b240fc9-8e57-4b11-9048-aea1263be55f.jpeg" />
    <div class="card p-6 p-lg-10 space-y-4">
      <p>
		    ___contents___
      </p>
      <a class="btn btn-primary p-3 fw-700" href="{{buttons.0.buttonLink}}">{{buttons.0.buttonText}}</a>
	    <a class="btn btn-secondary p-3 fw-700" href="{{buttons.1.buttonLink}}">{{buttons.1.buttonText}}</a>
    </div>
    <div class="text-muted text-center my-6">
		{{ footer }}
    </div>
  </div>
</body>
